<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>{{ page.emoji }} {{ page.title }}</h1>
        {{ content }}
        <div>
          <script async data-uid="820dd17376" src="https://motivated-founder-1392.ck.page/820dd17376/index.js"></script>
        </div>
        </div>
    </main>

    {%- include footer_sub.html -%}

  </body>

</html>
